.salas_ativas_info{margin: 30px!important;}
.estatistica_professor_info{margin: 30px!important;}
.banner{background: url(../../_images/_banner/banner.jpg) no-repeat fixed; padding: 0px!important; text-align: center;}
.mascara{background-color: rgba(0, 0,0, 0.3); padding: 30px!important;}
.banner_msg{font-size: 20px; font-weight: 300; text-align: center;}
.banner_bt1{color: #000; width: 100%; margin: 8px; margin-top: 35px; margin-bottom: 0px; height: 60px;}
.banner_bt2{color: #fff; width: 100%; margin: 8px; height: 60px;}
