/*=========== CABECALHO ==========*/
.box_temporeal_info{background-color: #eee; margin: 0 auto; margin-top:50px; margin-bottom:50px; width: 700px;}
.box_temporeal_alunos{background-color: #eee; margin: 0 auto; margin-top:50px; margin-bottom:50px; width: 700px;}
.box_temporeal_tempo{background-color: #eee; margin: 0 auto; margin-top:50px; margin-bottom:50px; width: 700px;}
.box_temporeal_opcoes{background-color: #eee; margin: 0 auto; margin-top:50px; margin-bottom:50px; padding-bottom: 20px; width: 700px;}
.options_temporeal{margin: 10px!important; width: 200px;}


/* ========== RESPONSIVO ==========*/
/* SMALL DEVICES - SMARTPHONES */
@media screen and (max-width: 600px) {
}
/* SMALL DEVICES - TABLETS*/
@media screen and (min-width: 601px) {
}
/* LARGE DEVICES - WIDE SCREENS*/
@media screen and (min-width: 993px) {
}
/* LARGE DEVICES - WIDE SCREENS*/
@media screen and (min-width: 1250px) {
}






